<section class="header">
  <div class="header bg-info pt-3 pb-3">
      <div class="container">
         <div class="row">
              <div class="col-md-6">
                  <div class="logo">
                      <a href="{{ "/" | prepend: site.baseurl }}"><h2 class="text-warning">Dataåtkomst, PGVSNH20</h2></a>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="cla float-right mt-2">
                    {% include nav.html  %}
                  </div>
              </div>
         </div>
      </div>
  </div>
</section>



